apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
  labels:
    app: app2
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2
        image: public.ecr.aws/nginx/nginx:1.27
        volumeMounts:
        - mountPath: /usr/share/nginx/html
          name: html-file2
        ports:
        - containerPort: 80
      volumes:
      - name: html-file2
        hostPath:
          path: /home/vagrant/app2/html
          type: Directory
